@import "/styles/globals.scss";
@import "/styles/globals.css";

body.weather {
  background: $color-black;
  color: $color-white;
}

.sidebar {
  @include lib-css(display, flex);
  justify-content: space-between;
  max-width: 459px;
  width: 100%;
  background: $color-sky-blue2;
  height: 100%;
  padding: $indent__base + $indent__m $indent__base + $indent__l;



  &_icon{
    padding: #{$indent__xxs + 1}  !important;

  }
}
