@import './scss/variables/typography';
@import './scss/variables/variables';
@import './scss/variables/colors';
@import './scss/libs/index.scss';
@import-normalize;

 
.body{
    background-color: $color-white;
    height: 100vh;
    font-family: $raleway;

}

.container{
    max-width: 1140px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
